.banner {
    position: relative;
}

.banner__picture {
    background: url('../img/banner.webp') no-repeat center / cover;
    width: 100%;
}

.banner__title {
    color: #fdfdfd;
    display: block;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    width: 100%;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 19%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 9s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #ffffff;
    animation-delay: -1;
}

.text-copy:nth-child(2){
    stroke: #ffffff;
    animation-delay: -2s;
}

.text-copy:nth-child(3){
    stroke: #ffffff;
    animation-delay: -3s;
}

.text-copy:nth-child(4){
    stroke: #ffffff;
    animation-delay: -4s;
}

.text-copy:nth-child(5){
    stroke: #ffffff;
    animation-delay: -5s;
}

@keyframes stroke-offset{
    100% {stroke-dashoffset: -50%;}
}

.about {
    text-align: center;
    text-transform: uppercase;
}

@media screen and (min-width: 0) {
    .banner__picture {
        height: calc(70vh - 75px);
    }

    .banner__title {
        display: none;
    }

    .about {
        position: absolute;
        top: calc(70vh - 75px);
    }

    .about__title {
        font-size: 1.7rem;
        color: white;
    }

    .about__description {
        font-size: 1rem;
        color: lightgray;
    }
}
@media screen and (min-width: 1280px) {
    .banner__picture {
        height: calc(100vh - 137px);
    }

    .banner__title {
        display: block;
        font-size: 5.0625rem;
        top: 85%;
    }

    .about {
        padding: 2.5rem;
        position: relative;
        top: auto;
    }

    .about__description {
        font-size: 1.75rem;
        color: #595959;
    }

    .about__title {
        color: #0d0f45;
        font-size: 3.1875rem;
        font-weight: 100;
    }
}