.banner {
    font-family: 'Orbitron', 'icones';
    font-size: 18px;
    position: relative;
}

.banner__picture {
    background: url('../img/banner.png') no-repeat center / cover;
    width: 100%;
    height: calc(46vw - 137px);
}

.banner__title {
    color: #fdfdfd;
    display: block;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    width: 100%;
    display: block;
    font-size: 5.0625rem;
    top: 88%;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 19%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 9s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #ffffff;
    animation-delay: -1;
}

.text-copy:nth-child(2){
    stroke: #ffffff;
    animation-delay: -2s;
}

.text-copy:nth-child(3){
    stroke: #ffffff;
    animation-delay: -3s;
}

.text-copy:nth-child(4){
    stroke: #ffffff;
    animation-delay: -4s;
}

.text-copy:nth-child(5){
    stroke: #ffffff;
    animation-delay: -5s;
}

@keyframes stroke-offset{
    100% {stroke-dashoffset: -50%;}
}

.about {
    align-self: center;
    font-family: 'Orbitron', 'icones';
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    padding: 2.5rem;
    position: relative;
    top: auto;
}

.about__description {
    align-self: center;
    color: #595959;
    font-size: 1.75rem;
}

.about__title {
    align-self: center;
    color: #0d0f45;
    font-size: 3.1875rem;
    font-weight: 100;
}

@media screen and (max-width: 1280px) {
    .banner__picture {
        height: calc(125vw - 75px);
    }

    .banner__title {
        display: none;
    }

    .about {
        padding: 0;
        position: absolute;
        top: calc(125vw - 75px);
        text-align: center;
        width: 100%;
    }

    .about__title {
        color: white;
        font-size: 1.7rem;
        margin: 1rem 1rem 0 1rem;
    }

    .about__description {
        color: lightgray;
        font-size: 1rem;
        font-weight: auto;
    }
}