.mainPosts {
    font-family: 'Orbitron', 'icones';
    font-size: 18px;
    background-color: #18172c;
    background-image: linear-gradient(135deg, #18172c 0%, #37d5d6 74%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5vh;
}

.post {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    height: 35vh;
    margin: 1vh 5vh;
    width: 35vh;
}

.post:nth-child(1) {
    background-image: url('../img/cryptos/btc-logo.png');
}

.post:nth-child(2) {
    background-image: url('../img/cryptos/eth-logo.png');
}

.post:nth-child(3) {
    background-image: url('../img/cryptos/bnb-logo.png');
}

.post:nth-child(4) {
    background-image: url('../img/cryptos/busd-logo.png');
}

.post__button {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    font-size: 16px;
    border: solid 1px black;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    padding: 15px 20px;
}

.blur{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    -webkit-backdrop-filter: blur(2px) brightness(90%);
    backdrop-filter: blur(2px) brightness(90%);
    display: none;
}

.post:hover .blur{
    display: block;
}

.post:hover .post__button {
    display: block;
}

.slideUp {
    animation-name: slideUp;
    animation-name: slideUp;
    animation-duration: 1s;
    animation-duration: 1s;
  }
  
  @keyframes slideUp {
    0% {
      opacity: 0;
      -ms-transform: translate(-50%, 50%);
      transform: translate(-50%, 50%);
    } 
    100% {
      opacity: 1;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

@media screen and (max-width: 1280px) {
    .mainPosts{
        background-color: #18172c;
        background-image: linear-gradient(180deg, #18172c 0%, #37d5d6 74%);
    }

    .post {
        height: 9rem;
        margin: 0 0 1rem 0;
        width: 9rem;
    }
    .post__button {
        padding: 7px 10px;
    }
}