.footer {
    font-family: 'Orbitron', 'icones';
    font-size: 18px;
    background: #18172c;
    color: #fdfdfd;
    text-align: right;
    padding: 1.5625rem 5rem;
    text-transform: lowercase;
}

.footer .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__logo {
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 300px;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
}

.footer__menu__list {
    display: flex;
}

.footer__menu__link {
    color: #ffffff;
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    padding: 6px 12px;
    line-height: 20px;
    min-width: 52px;
}
    
.footer__menu__link--active {
    font-weight: bold;
    border-radius: 6px;
    color: #18172c;
    background-color: #b8d4c9;
}

.footer__menu__link:last-child {
    margin-right: none;
}

.footer__menu__link:hover {
    text-decoration: underline;
}

.footer__menu__item {
    list-style: none;
}

.footer__form {
    max-width: 50%;
}

.footer__form_legend {
	text-transform: uppercase;
	color: white;
}

.footer__form_fieldset {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.footer__form_emailInput {
	width: 75%;
	border-radius: 1.25rem 0 0 1.25rem;
	border: solid black;
    font-size: .875rem;
    padding: .75rem .625rem;
}

.footer__form_submit {
	background-color: rgba(255, 255, 255, 0.6);
	width: 25%;
	border-radius: 0 1.25rem 1.25rem 0;
	border: solid black;
    font-size: .875rem;
    padding: .75rem .625rem;
}

.footer__copyright {
	color: white;
    text-align: left;
	text-transform: uppercase;
	font-size: 1rem;
    font-weight: 500;
}

@media(max-width: 1280px) {
	.footer .container {
		flex-direction: column;
		align-items: center;
	}

	.footer__form {
		width: 140%;
	}

	.footer__form_fieldset {
		justify-content: center;
	}

	.footer__copyright {
		text-align: center;
		margin-top: 1rem;
	}
}