.mainGrid {
    margin: 4rem 0;
    text-align: center;
    text-transform: uppercase;
}

.mainGrid__title {
    color: #0d0f45;
    font-size: 3.1875rem;
    font-weight: 100;
}

.mainGrid__description {
    font-size: 1.75rem;
    color: #595959;
}

.grid {
    background-color: #18172c;
    background-image: linear-gradient(315deg, #18172c 0%, #37d5d6 50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4vw 0 calc(4vw + 2.5rem) 0;
}

.nft__picture {
    text-transform: uppercase;
    background-color: lightgray;
    border: solid 1px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 19rem;
    width: 17rem;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.nft__picture:nth-child(1) {
    background-image: url('../img/nfts/axie-infinity.png');
}

.nft__picture:nth-child(2) {
    background-image: url('../img/nfts/bomb-crypto.png');
}

.nft__picture:nth-child(3) {
    background-image: url('../img/nfts/castle-runners.png');
}

.nft__picture:nth-child(4) {
    background-image: url('../img/nfts/luna-rush.png');
}

.nft__button {
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    position: relative;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 2.5rem;
    width: calc(100% + 2.5px);
    top: 100%;
    right: 1.5px;
}

@media(max-width: 1280px) {
    .nft__picture {
        margin-bottom: 5rem;
    }

    .nft__picture:nth-child(1) {
        margin-top: 2rem;
    }

    .nft__picture:nth-child(4) {
        margin-bottom: 2rem;
    }
}
